<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="/static/js/jquery-3.3.1.slim.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<body>
<div class="'container-fluid">
    <div class="row">
        <div class="card card-body bg-dark"></div>
    </div>
    <div class="row">
        <div class="col-3" style="padding: 0px; height: 500px">
            <div class="card card-body bg-primary">
                lol
            </div>
        </div>
        <div class="col-6" style="padding: 0px">
            <div class="card card-body bg-secondary">
                kek
            </div>
        </div>
        <div class="col-3" style="padding: 0px">
            <div class="card card-body bg-white">
                cheburek
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card-body bg-dark"></div>
    </div>
</div>
</body>