<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html">
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/star.js"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>

<body>
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar sticky-top">
    xe xe xe
</header>
<div class="'container-fluid">
    <div class="row">
        <div class="card card-body bg-dark"></div>
    </div>
    <div class="row">
        <div class="col-3" style="padding: 0px; height: 500px"></div>

        <div class="col-6" style="padding: 0px">
            <div class="card card-body bg-secondary">
                <button id="qwe" type="button" class="btn btn-outline-success">aaa</button>
            </div>
        </div>
        <div class="col-3" style="padding: 0px">
            <div class="card card-body bg-white">
                {% if anonim %}
                    <form method="post" action="login">
                        <input type="text" name="username" class="card card-columns bg-dark" style="color: white">
                        <input type="password" name="password" class="card card-columns bg-dark" style="color: white">
                        <button type="submit" class="btn-sm btn btn-outline-success">Sign in</button>
                    </form>
                {% else %}
                    Привет {{ username }}
                    <form method="post" action="logout">
                        <button type="submit" class="btn-sm btn btn-outline-danger" style="width: min-content">Logout
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card-body bg-dark"></div>
    </div>
</div>
</body>
</html>