<!DOCTYPE html>
<head>
    <title>Auctio | </title>
</head>
{% extends "common.html" %}
{% block information %}
    <div class="container">
        <div class="container-fluid mt-lg-5 d-flex align-items-center justify-content-center h-100">
            <p class="grey-text">ffffff
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores deleniti excepturi facilis
                fugiat laborum nesciunt nobis rem repellendus voluptatibus. Amet esse exercitationem harum illum laborum
                numquam quasi quo. Accusamus adipisci amet animi aspernatur aut beatae corporis dolorum ea eaque earum
                eius eligendi et fugit id illo laborum libero maxime molestiae natus odio pariatur, perspiciatis
                praesentium quis quisquam saepe sunt voluptate! Accusamus commodi eos eum facere, illo necessitatibus
                omnis possimus quibusdam velit voluptatum? Accusamus, animi assumenda aut consequatur, distinctio
                dolorem dolorum eaque enim excepturi hic id inventore ipsum iure libero maxime molestiae natus
                nemo
                nulla odio perferendis perspiciatis quibusdam quisquam reiciendis sunt tempora tenetur unde voluptatem?
                Accusantium aliquid asperiores atque consectetur, consequuntur cumque cupiditate deserunt distinctio ea
                eum excepturi expedita fugit harum id illum ipsa iusto nisi nostrum officiis pariatur porro praesentium
                provident quaerat qui quia quibusdam ratione recusandae sed similique sint suscipit ullam vero vitae.
                Accusantium atque molestiae mollitia?</p>
            Привет {{ username }}

        </div>
{% endblock %}